.ui-grid .ui-grid-row {
    margin-top: 10px;
}

.data-container {
    padding: 50px;
}

/*>>>.ui-tooltip-text {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 200px
}*/

/*>>>.ui-tooltip {
    width: 200px;
    height: auto;
}*/